@model AgateApp.Models.Advert

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Advert</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MediaChannel" class="control-label"></label>
                <input asp-for="MediaChannel" class="form-control" />
                <span asp-validation-for="MediaChannel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductionStatus" class="control-label"></label>
                <input asp-for="ProductionStatus" class="form-control" />
                <span asp-validation-for="ProductionStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduledRunDateStart" class="control-label"></label>
                <input asp-for="ScheduledRunDateStart" class="form-control" />
                <span asp-validation-for="ScheduledRunDateStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduledRunDateEnd" class="control-label"></label>
                <input asp-for="ScheduledRunDateEnd" class="form-control" />
                <span asp-validation-for="ScheduledRunDateEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CampaignId" class="control-label"></label>
                <select asp-for="CampaignId" class="form-control" asp-items="ViewBag.CampaignId"></select>
                <span asp-validation-for="CampaignId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
